<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Graphics</key>
	<dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisType</key>
		<integer>8</integer>
		<key>BiosReleaseDate</key>
		<string>10/29/13</string>
		<key>Version</key>
		<string>1.0</string>
		<key>SerialNumber</key>
		<string>C02LMH8QFGYY</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.0138.B03.1310291227</string>
		<key>Board-ID</key>
		<string>Mac-189A3D4F975D5FFC</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>BoardSerialNumber</key>
		<string>C023508H2A4M7</string>
		<key>Mobile</key>
		<true/>
		<key>Trust</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 dart=0 rootless=0</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Secure</key>
		<false/>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>
				QVBQTEUgU1NE
				</data>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAA
				</data>
				<key>Comment</key>
				<string>Enable Trim on SSD</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>Replace</key>
				<data>
				AQAAdBc=
				</data>
				<key>Comment</key>
				<string>Second Stage patch 10.11</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Find</key>
				<data>
				TWFjLTJFNkZBQjk2NTY2RkU1OEM=
				</data>
				<key>Replace</key>
				<data>
				TWFjLTE4OUEzRDRGOTc1RDVGRkM=
				</data>
				<key>Comment</key>
				<string>Broadcom 43224 whitelist</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Replace</key>
				<data>
				ZscGVVPrKw==
				</data>
				<key>Comment</key>
				<string>Broadcom 5Ghz US</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
				<key>Comment</key>
				<string>Handoff Fix</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAkAA=
				</data>
				<key>Comment</key>
				<string>Patch HD4400/4600 9mb Cursor bytes</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Find</key>
				<data>
				AgQJAAAEAACHAAAA
				</data>
				<key>Replace</key>
				<data>
				AwYDAAAEAACHAAAA
				</data>
				<key>Comment</key>
				<string>Patch HD4400/4600 DP</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>
				gxnUEQ==
				</data>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
				<key>Comment</key>
				<string>AppleHDA Patch 10.11</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>
				hBnUEQ==
				</data>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
				<key>Comment</key>
				<string>IDT 76E0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>
				ixnUEQ==
				</data>
				<key>Replace</key>
				<data>
				4HYdEQ==
				</data>
				<key>Comment</key>
				<string>IDT 76E0</string>
			</dict>
		</array>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>Yosemite</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>FullTitle</key>
					<string>UEFI Internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Disabled</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	</dict>
	</plist>
